{
  "env": {
    "node": true
  },
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base"
  ],
  "overrides": [
    {
      "files": [
        "main.ts"
      ],
      "rules": {
        "global-require": "off",
        "import/no-dynamic-require": "off"
      }
    },
    {
      "files": [
        "lib/rules/**/*.js"
      ],
      "rules": {
        "consistent-return": "off",
        "default-case": "off",
        "default-param-last": "off",
        "no-continue": "off",
        "no-nested-ternary": "off",
        "no-param-reassign": "off",
        "no-plusplus": "off",
        "no-restricted-syntax": "off",
        "no-use-before-define": [
          "error",
          {
            "functions": false
          }
        ],
        "prefer-const": [
          "error",
          {
            "destructuring": "all"
          }
        ],
        "semi": [
          "error",
          "never"
        ]
      }
    },
    {
      "env": {
        "jest/globals": true
      },
      "files": [
        "**/tests/*.js"
      ],
      "globals": {
        "testRule": true
      },
      "plugins": [
        "jest"
      ],
      "rules": {
        "import/no-extraneous-dependencies": "off",
        "max-len": [
          "error",
          300
        ],
        "no-useless-concat": "off"
      }
    }
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "extraFileExtensions": [
      ".json"
    ],
    "project": "tsconfig.json",
    "sourceType": "module"
  },
  "rules": {
    "max-len": [
      "error",
      180
    ],
    "object-curly-newline": [
      "error",
      {
        "consistent": true,
        "minProperties": 9,
        "multiline": true
      }
    ],
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "quote-props": [
      "error",
      "consistent-as-needed"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "@typescript-eslint/dot-notation": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "_"
      }
    ],
    "@typescript-eslint/semi": "off",
    "@typescript-eslint/type-annotation-spacing": [
      "error",
      {
        "after": true,
        "before": false,
        "overrides": {
          "arrow": {
            "after": true,
            "before": true
          }
        }
      }
    ]
  }
}
