{
  "customSyntax": "postcss-syntax",
  "extends": [
    "./config"
  ],
  "overrides": [
    {
      "customSyntax": "css",
      "files": [
        "examples/**/*.css"
      ]
    },
    {
      "customSyntax": "scss",
      "files": [
        "examples/**/*.scss",
        "examples/**/*.sass"
      ]
    },
    {
      "customSyntax": "less",
      "files": [
        "examples/**/*.less"
      ]
    },
    {
      "customSyntax": "postcss-styled-syntax",
      "files": [
        "examples/**/*.js"
      ]
    }
  ]
}
